h1
{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

h2
{
color: yellow;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body
{
    background-color: blue;
}